:root {
  --red-color: rgba(254, 82, 105, 1);
  --light-red: #F4E2C6;
  --dark-grey: #262020;
  --light-grey: #E0E0E0;
  --color-for-font: #E7E7E7;
  --color-for-font2: #848484;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 16px;
  margin: 0;
  padding: 0 48px;
  background-color: black;
}

a {
  color: #000000;
}

a:hover {
  color: var(--red-color);
}

.control-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 82px;
  border-bottom: 0.5px solid #DADADA;
}
.control-bar__user-bar__icon {
  margin: 0 20px;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__list-item {
  display: inline-block;
  text-transform: uppercase;
  margin: 1rem 0;
}
.menu__list-item__link {
  font-size: 14px;
  text-decoration: none;
  color: #5C5C5C;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}

header, .container, footer {
  background-color: white;
}

.content-section {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 591px;
  box-sizing: border-box;
  background-color: var(--dark-grey);
}
.content-section__info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  color: white;
  height: 25px;
  box-sizing: border-box;
  z-index: 1;
}
.content-section__polaroid {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
}
.content-section__polaroid__frame {
  position: absolute;
}
.content-section__polaroid__img {
  position: absolute;
  top: 10px;
  left: 5px;
  transform: scaleX(1.01) scaleY(1.01);
}

.content-section-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 92px 0;
  overflow-x: hidden;
}
.content-section-centered__header {
  font-size: 38px;
  line-height: 46.32px;
  color: black;
  font-weight: 500;
  text-transform: capitalize;
  border-bottom: 1px solid black;
}
.content-section-centered__show-all {
  color: var(--red-color);
  font-size: 14px;
  text-transform: uppercase;
  margin: 60px 0 0 0;
}

.content-overview {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50ch;
  gap: 25px;
  color: var(--color-for-font);
}
.content-overview__header {
  text-transform: capitalize;
  font-size: 38px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: underline;
  text-underline-position: under;
  line-height: 56px;
}
.content-overview__text {
  font-size: 16px;
  line-height: 20px;
}
.content-overview__link {
  font-size: 14px;
  color: var(--red-color);
  text-transform: capitalize;
}

.content-slider {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.content-slider__next-btn, .content-slider__prev-btn {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 48px;
  margin: 2em;
  cursor: pointer;
  transition: inherit;
}
.content-slider__next-btn:hover, .content-slider__prev-btn:hover {
  background-color: var(--dark-grey);
}
.content-slider__prev-img {
  transform: translateX(-25%);
}
.content-slider__next-img {
  transform: translateX(25%);
}
.content-slider__container {
  overflow: hidden;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  transition: inherit;
}

.content-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 270;
  margin: 0 22.5px;
  text-align: center;
  position: relative;
  transition: inherit;
}
.content-slide__photo-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: inherit;
}
.content-slide__photo {
  transition: inherit;
}
.content-slide__photo-hover:hover > .content-slide__photo {
  filter: blur(0.5px) brightness(0.8);
}
.content-slide__photo-hover:hover > .content-slide__shop-now {
  opacity: 1;
}
.content-slide__shop-now {
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  padding: 1.2em 5em;
  background-color: white;
  color: black;
  font-size: 12px;
  z-index: 1;
  cursor: pointer;
  transition: inherit;
}
.content-slide__shop-now:hover {
  background-color: var(--light-grey);
}
.content-slide__like {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  transition: inherit;
}
.content-slide__like:hover {
  background-color: var(--light-grey);
}
.content-slide__like-img {
  width: 15.6px;
  height: 13.6px;
}
.content-slide__title {
  font-size: 16px;
  font-weight: 500;
  margin: 1em 0;
  padding: 0;
}
.content-slide__reviews {
  font-size: 14px;
  color: var(--light-grey);
}
.content-slide__price {
  font-weight: bold;
  font-size: 18px;
}
.content-slide__price::after {
  content: "$109.99";
  font-size: 0.66em;
  color: var(--light-grey);
  margin-left: 1em;
  font-weight: normal;
  text-decoration: line-through;
}

.content-section_1 {
  height: 665px;
  background-color: var(--light-red);
  background-blend-mode: lighten;
  z-index: 1;
}
.content-section_1 .content-overview_1 {
  left: 8%;
  top: 20%;
  color: black;
}
.content-section_1 .content-overview_1 .content-overview__header {
  font-size: 48px;
}
.content-section_1__photo {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  filter: drop-shadow(-10px -5px 0 white);
}
.content-section_1__polaroid1 {
  top: 68%;
  left: 40%;
}
.content-section_1__polaroid2 {
  top: 26%;
  left: 93%;
}
.content-section_1__polaroid3 {
  top: 60%;
  left: 8%;
}
.content-section_1__polaroid4 {
  top: 63%;
  left: 19%;
}
.content-section_1__polaroid4 .content-section__polaroid__img {
  left: 4px;
  transform: scale(1.03);
}
.content-section_1__polaroid5 {
  top: 30%;
  left: 0%;
}
.content-section_1__polaroid5 .content-section__polaroid__img {
  left: 0;
}

.content-section_1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: var(--red-color);
  z-index: -2;
}

.content-section_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-section_3__polygon-star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15%;
  top: 10%;
  width: 129px;
  height: 129px;
  font-size: 23.5px;
  font-weight: bold;
  color: white;
  background-color: var(--red-color);
  clip-path: polygon(55.0828px 0.326514px, 68.3958px 29.901px, 90.8917px 6.5382px, 86.1022px 38.6154px, 117.658px 31.1236px, 96.2863px 55.5192px, 126.883px 66.2769px, 95.7149px 75.2455px, 115.638px 100.837px, 84.5694px 91.5315px, 87.4941px 123.832px, 66.3883px 99.2063px, 51.3857px 127.961px, 46.944px 95.8334px, 18.7773px 111.912px, 32.41px 82.4835px, 0.0219297px 80.7816px, 27.4008px 63.3952px, 1.07425px 44.4532px, 33.5066px 44.6289px, 21.6002px 14.4607px, 48.7889px 32.1428px, 55.0828px 0.326514px);
  transform: rotateZ(-6.5deg);
}
.content-section_3__polygon-star__off {
  font-size: 9.9px;
  font-weight: normal;
}
.content-section_3 .content-overview_3 {
  width: 300px;
  left: 23%;
  top: 27%;
  color: var(--color-for-font);
}
.content-section_3__photo {
  position: absolute;
  left: 60%;
  top: 10%;
}
.content-section_3__polaroid6 {
  z-index: 0;
  top: 61%;
  left: 89%;
}
.content-section_3__polaroid6 .content-section__polaroid__img {
  top: 8px;
}
.content-section_3__polaroid7 {
  z-index: 0;
  top: 60%;
  left: -10%;
  transform: rotateZ(-20deg) scale(1.2);
}
.content-section_3__polaroid7 .content-section__polaroid__img {
  top: 8px;
}

.content-section_4 {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-section_4__header {
  text-transform: uppercase;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 27px 39.5px;
}
.img-grid__img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 315px;
}
.img-grid__txt-block {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  font-size: 12px;
  background-color: white;
  color: black;
  padding: 1.2em 6em;
}
.img-grid__img {
  position: absolute;
}

.content-section_5 {
  padding: auto 0;
}
.content-section_5 .content-overview_5 {
  width: 300px;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-for-font);
}
.content-section_5__photo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.content-section_5__polaroid8 {
  z-index: 0;
  top: 61%;
  left: 37%;
}
.content-section_5__polaroid8 .content-section__polaroid__img {
  left: 8px;
}
.content-section_5__polaroid9 {
  z-index: 0;
  top: 10%;
  left: 96.3%;
  transform: rotateZ(-22deg) scale(0.8);
}
.content-section_5__polaroid9 .content-section__polaroid__img {
  left: 8px;
}

.content-section_7 {
  display: flex;
  align-items: center;
  padding-left: 30%;
}
.content-section_7 .content-overview_7 {
  width: 30ch;
  left: 10%;
  top: 17%;
}
.content-section_7 .content-overview_7 .content-overview__text {
  width: 20ch;
}

.content-section_8__subheading {
  color: var(--red-color);
  text-transform: capitalize;
  padding: 0;
  margin: 0 0 30px 0;
}

.quotes-slider__bttns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  left: 10%;
  height: calc(309px + 34px);
}
.quotes-slider__next-btn, .quotes-slider__prev-btn {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 48px;
  margin-right: 2em;
  cursor: pointer;
  transition: inherit;
}
.quotes-slider__next-btn:hover, .quotes-slider__prev-btn:hover {
  background-color: var(--red-color);
}
.quotes-slider__wrapper {
  display: flex;
  overflow: hidden;
  padding: 34px;
}

.quotes-slide {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 443px;
  height: 309px;
  margin-right: 25px;
  padding: 74px 38px 40px 40px;
  background-color: white;
  background-image: url(img/quotes.svg);
  background-repeat: no-repeat;
  background-position: bottom 0px right 28px;
}
.quotes-slide__img {
  position: absolute;
  left: 40px;
  top: 0;
  transform: translateY(-50%);
}
.quotes-slide__name {
  display: block;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  margin: 0 0 15px 0;
  padding: 0;
}
.quotes-slide__citation {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-for-font2);
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.product-collection {
  display: flex;
  height: 480px;
}
.product-collection__img1, .product-collection__img2 {
  position: relative;
  width: 240px;
  height: 240px;
}
.product-collection__img1 {
  background-image: url("img/product-collection.png");
}
.product-collection__img2 {
  background-image: url("img/product-collection2.png");
}
.product-collection__img1::after, .product-collection__img2::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 240px;
  height: 240px;
  transform: scaleX(-1);
}
.product-collection__img1::after {
  background-image: url("img/product-collection2.png");
}
.product-collection__img2::after {
  background-image: url("img/product-collection.png");
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--dark-grey);
  color: white;
  font-size: 14px;
  padding: 70px 0;
}
.footer__link {
  text-decoration: none;
  color: white;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.footer__link:hover {
  color: var(--red-color);
}
.footer__about {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__about-content {
  display: block;
  text-transform: capitalize;
}
.footer__copyright {
  font-family: Poppins;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
}
.footer__shop, .footer__help {
  flex: 0 0 10%;
}
.footer__links-header {
  padding: 0;
  margin: 0 0 15px 0;
  letter-spacing: 0.05em;
  font-weight: normal;
  text-transform: uppercase;
}
.footer__link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__contact {
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
}
.footer__subscribe {
  position: relative;
  margin: 20px 0;
}
.footer__subscribe-input, .footer__subscribe-btn {
  appearance: none;
  box-sizing: border-box;
  height: 50px;
  border: 1px solid var(--red-color);
  border-radius: 100px;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.footer__subscribe-input {
  background: rgba(254, 82, 105, 0.05);
  padding: 0 160px 0 20px;
  width: 400px;
  outline: none;
}
.footer__subscribe-btn {
  position: absolute;
  transform: translateY(-100%);
  right: 0;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  cursor: pointer;
}
.footer__social {
  display: flex;
  justify-content: flex-end;
  height: 40.3px;
  gap: 20.5px;
  margin-top: auto;
}
.footer__social-fb, .footer__social-inst, .footer__social-tlgrm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.3px;
  background-color: var(--red-color);
  border-radius: 50%;
}
.footer__social-tlgrm-img2 {
  position: absolute;
}

/*# sourceMappingURL=index.css.map */
